.card {
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    transition: transform 100ms ease-in;
    cursor: pointer;
    flex: 0 1 calc(33% - 20px);
}

.card:hover {
    transform: scale(1.07);
}

.card>img {
    object-fit: cover;
    min-width: 100px;
    min-height: 50px;
    width: 100%;
}

.card__info {
    margin-top: -9px;
    border-radius: 10px;
    padding: 20px 20px 20px;
    border: 1;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card__info>h2 {
    font-size: 18px;
    font-weight: 600;
}

.card__info>h4 {
    font-size: 14px;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 8px;
}

.card__info button {
    margin-top: 20px;
    color: #F58A07;
    border-color: #F58A07;
    padding-left: 0;
    position: relative;
    margin-top: auto;
    bottom: 0px;

}

.card__info button svg {
    fill: #F58A07;
    margin-left: 4px;
}

@media screen and (max-width: 600px) {
    .card {
        flex: 0 1 calc(100% - 20px);
        display: flex;
        flex-direction: column;
    }
}